html {
    background-image: url(cartoon-cookie-6.jpg);
    background-repeat: repeat;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
}

.horloge {
    background: #fff url(ios_clock.svg) no-repeat center;
    width: 480px;
    height: 480px;
    border: 20px solid #785224;
    border-radius: 50%;
    margin: 170px auto 0 auto;
    position: relative;
    padding: 36px;
}

.face {
    position: relative;
    width: 100%;
    height: 100%;
}

.aiguille {
    width: 50%;
    height: 6px;
    background: black;
    position: absolute;
    top: 50%;
    transform-origin: 100%;
    transform: rotate(90deg);
    transition: all 0.05s ease;
}

.heure {
    height: 20%;
    left: 48.75%;
    position: absolute;
    top: 30%;
    transform-origin: 50% 100%;
    width: 2.5%;
}

.min {
    height: 40%;
  left: 49%;
  position: absolute;
  top: 10%;
  transform-origin: 50% 100%;
  width: 2%;
}

.seconde {
    background: #785224;
    height: 45%;
    left: 49.5%;
    position: absolute;
    top: 14%;
    transform-origin: 50% 80%;
    width: 1%;
    z-index: 8;
}